#contact_modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
}
#likesTotal {
  position: fixed;
  z-index: 1;
  right: 36px;
  bottom: -21px;
  height: 89px;
  width: 376px;
  background: #db8876;
  border-radius: 5px;
  display: flex;
  padding: 21px 34px 37px 31px;
  justify-content: space-between;
}
.likesCounter {
  display: flex;
  align-items: center;
  gap: 6.38px;
}
#likesTotal p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

#likesTotal img {
  width: 20px;
  height: 18.35px;
}

.logo {
}

.photograph-header {
  display: flex;
  background-color: #fafafa;
  height: 313px;
  margin: 40px 100px 9px;
  border-radius: 5px;
}

.photograph-header article {
  width: 100%;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
}

.textPhotograph {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 400px;
}

.photograph-header article h1 {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;
  color: #d3573c;
}
.contactPhotograph {
  display: flex;
  gap: 285px;
}
.contactPhotograph figure {
  align-self: center;
}

.contactPhotograph figure img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.location_header {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #901c1c;
  margin-bottom: 19px;
}

.tagline_header {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}



.photograph-media {
  height: auto;
  margin: 0 100px;
}
.photograph-media__sort {
  margin-bottom: 23px;
  display: flex;
}

.photograph-media__sort p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #000000;

  margin-top: 11px;
  margin-right: 25px;
}

.photograph-media__sort--filterSimple {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 69px;
  padding: 23px 18px 23px 20px;
  background: #911c1c;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;
}

.photograph-media__sort--filterSimple p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  align-self: center;
  color: #ffffff;
}

.photograph-media__sort--filterTriple {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 170px;
  background: #911c1c;
  border-radius: 5px;
  padding: 23px 18px 23px 20px;
  justify-content: space-between;
  cursor: pointer;
}

.photograph-media__sort--filterTriple p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  align-self: flex-start;
  color: #ffffff;

  border-bottom: 1px solid black;
}

.arrow_down {
  align-self: center;
  width: 16px;
  height: 10px;
}

.photograph-media__articles {
  display: flex;
  flex-wrap: wrap;
  margin-left: -47.5px;
  margin-right: -47.5px;
}

.photograph-media__articles article {
  width: 350px;
  margin-bottom: 30px;
  margin-left: 47.5px;
  margin-right: 47.5px;
}

.media-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  object-position: 50% 35%;
}

.media-video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.photograph-media__articles article div {
  display: flex;
  /* justify-content: space-between; */
}
.titleTxt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;

  color: #911c1c;
  flex-grow: 1;
}

.txtLikes {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
  margin-right: 6.38px;
}
.heart {
  width: 17.5px;
  height: 18.35px;
  align-self: center;
  cursor: pointer;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin-top: 137px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.contact_button:hover {
  color: #000000;
  background-color: #db8876;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 669px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 35px 38px 35px;
  margin: 62px auto;
  min-height: 900px;
  height: fit-content;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.modal header img {
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
}

.modal header h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;
  margin: 0;
  margin-bottom: 19px;
  color: #000000;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  padding-left: 10px;
  color: #312e2e;
  outline: none;
}
#email {
  margin-bottom: 10px;
}
#inputMessage {
  width: 599px;
  height: 170px;
  margin-top: 5px;
  resize: none;
  border-radius: 5px;
  outline: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  padding-left: 10px;
  color: #312e2e;
}

.send_button {
  margin-top: 26px;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 1);
  z-index: -1;
  justify-content: center;
  align-items: center;

}
.lightbox__elements {
  display: flex;
  height: 943px;
  max-height: 100vh;

}
.lightbox__buttons {
  display: flex;
  flex-direction: column;
}
.lightbox__next,
.lightbox__prev {
  border: none;
  background: url("../assets/images/arrow_lightbox.svg") center / 29.64px 48px no-repeat;
  width: 50px;
  height: 50px;
  z-index: 4;
  cursor: pointer;
}
.lightbox__prev {
  margin-right: 34.36px;
  margin-top: 425px;
  transform: rotate(180deg);
}
.lightbox__next {
  margin-left: 34.36px;
  margin-top: 368px;
}
.lightbox__close {
  text-indent: -30000px;
  border: none;
  margin-top: 15px;
  margin-left: 27px;
  width: 42px;
  height: 42px;
  background: url('data:image/svg+xml;utf8,<svg width="42" height="42" cx="50" cy="50" r="40"  fill = "rgb(145, 28, 28)" viewBox="0 0 42 42"  xmlns="http://www.w3.org/2000/svg"><path d="M42 4.23L37.77 0L21 16.77L4.23 0L0 4.23L16.77 21L0 37.77L4.23 42L21 25.23L37.77 42L42 37.77L25.23 21L42 4.23Z"  /></svg>') center / 42px 42px;
  z-index: 5;
  cursor: pointer;
}

.lightbox__container {
  display: flex;
  flex-direction: column;
  width: 1050px;
  justify-content: center;
}
.lightbox__container--media {
  display: flex;
  justify-content: center;
  height: 900px;
}

.lightbox__container--media figure {
  display: flex;
  justify-content: center;
  height: 900px;
  width: 100%;
  height: 100%;
}

.lightbox__container--media figure img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 35%;
}

.lightbox__container--media figure video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.lightbox__container--title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  margin-top: 12px;
  color: #911c1c;
}
.likeSpace {
  width: 100%;
  height: 60px;
}
